$black-color: #111111;
$bgc-header: rgb(255, 255, 255);
$hover-color: #4F2EE8;
$btn-active: rgb(234, 198, 69);
$grey-text-color: #B4AFAF;
$grey-second-bg-color: #D0D0D0;
$categories-list: rgba(17, 17, 17, 0.6);
$categories-list-white: rgba(255, 255, 255, 0.6);
$main-dark-color: #202024;
$dark-them-text-color:  #F6F6F6;;
$pagination-btn-color: #000000;
$bgc-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);

$mobile: 375px;
$tablet: 768px;
$desktop: 1060px;