<article class="charities">
	<div class="container">
		<div class="title-wrapper">
			<h2 class="subtitle">Support Ukraine</h2>
			<svg class="emblem-icon">
				<use href="./images/icons.svg#icon-emblem"></use>
			</svg>
		</div>
		
		<div class="container-charities">
			<div class="slider-box js-slider-box">
				<div class="slider-line js-slider-line">
				</div>
			</div>
		</div>
		<div class="container-btn">
			<button class="btn-support js-btn-support">
				<svg class="btn-arrow-pic js-btn-arrow-pic">
					<use href="./images/icons.svg#icon-btn-arrow"></use>
				</svg>
			</button>
		</div>

	</div>
	
</article>