<header class="header">
	<div class="container">
		<div class="header-wrapper">
			<!-- logo on header -->
			<div class="container-logo">
				<a href="index.html" class="link">
					<svg class="logo">
						<use href="./images/icons.svg#icon-logo"></use>
					</svg>
					<svg class="logo-name">
						<use href="./images/icons.svg#icon-bookshelf"></use>
					</svg>
				</a>
			</div>
			<!-- nav menu is showing on tablet/desktop -->
			<nav class="site-nav tablet-show">
				<a href="index.html" class="link active">HOME</a>
				<a href="shopping-list.html" class="link shopping">SHOPPING LIST
					<svg class="shopping-icon">
						<use href="./images/icons.svg#icon-bag"></use>
					</svg>
				</a>
			</nav>

			<!-- buttons for mobile menu and chenge theme -->
			<div class="container-buttons js-container-buttons">
				<label class="switch">
					<input class="js-theme-checked" type="checkbox">
					<span class="slider round"></span>
				</label>
<!-- menu desktop and tablet -->
				<div class="dropdown hidden">
					<button  type="button" class="dropbtn user-inform">
							<div>
								<img src="./images/user-stephen.jpg" class="img" alt="user Stephen">
							</div>
							<span>Stephen</span>
							<svg>
								<use href="./images/icons.svg#icon-triangle"></use>
							</svg>

					</button>
					<div id="myDropdown" class="dropdown-content">
						<button type="button" class="button primery logout">
							<span>Log out</span>
							<svg class="logout-arrow">
								<use href="./images/icons.svg#icon-arrow"></use>
							</svg>
						</button>
					</div>
				</div>

				<button type="button" class="button primery singup-tablet" data-action="open-modal-enter">
					<span>Log in</span>
					<svg class="logout-arrow">
						<use href="./images/icons.svg#icon-arrow"></use>
					</svg>
				</button>
				<button class="button secondary button-open js-open-menu">
					<svg class="mobile-menu is-open" aria-label="Переключатель мобільного вікна">
						<use href="./images/icons.svg#icon-mobile-menu-open"></use>
					</svg>
				</button>
				<button class="button secondary button-close js-close-menu">
					<svg class="mobile-menu ">
						<use href="./images/icons.svg#icon-mobile-close"></use>
					</svg>
				</button>
			</div>
		</div>


		<!-- mobile menu ================================-->
		<div class="container-menu js-menu-container">
			<div class="container-mobile-inner">
				<div class="user-inform">
					<div>
						<img src="./images/user-stephen.jpg" class="img" alt="user Stephen">
					</div>
					<span>Stephen</span>
				</div>
				<nav class="site-nav">
					<div class="overlay">
						<a href="index.html" class="link active">HOME</a>
						<a href="shopping-list.html" class="link shopping">SHOPPING LIST
							<svg class="shopping-icon">
								<use href="./images/icons.svg#icon-bag"></use>
							</svg>
						</a>
					</div>
				</nav>
				<button type="button" class="button primery hidden">
					<span>Log out</span>
					<svg class="logout-arrow">
						<use href="./images/icons.svg#icon-arrow"></use>
					</svg>
				</button>
				<button type="button" class="button primery singup" data-action="open-modal-enter">
					<span>Log in</span>
					<svg class="logout-arrow">
						<use href="./images/icons.svg#icon-arrow"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>

</header>