<div class="backdrop-enter js-backdrop-enter">
	<div class="modal-enter">
		<div class="modal-container">
			<button class="button close" data-action="close-modal-enter">
				<svg class="icon-close">
						<use href="./images/icons.svg#icon-close"></use>
				</svg>
			</button>
			<form class="form-field">
				<div role="group">
					<label class="form-label">
						<input class="form-input" type="text" placeholder=" ">
						<span class="label-name">name</span>
					</label>
					<label class="form-label">
						<input class="form-input" type="email" placeholder=" ">
						<span class="label-name">email</span>
						<svg class="icon-box">
							<use href="./images/icons.svg#icon-mail-2"></use>
						</svg>	
					</label>
					<label class="form-label">
						<input class="form-input js-form-input" type="password" placeholder=" ">
						<span class="label-name">password</span>
						<svg class="icon-box show-text js-icon-box" >
							<use href="./images/icons.svg#icon-bag"></use>
						</svg>
					</label>

					<div class="button-wrapper">
						<button type="submit" class="button primery">sing in</button>
				</div>
				</div>
			</form>
					<div class="link-container">
			<a href="" class="link">sing up</a>
			<a href="" class="link">sing in</a>
		</div>
		</div>
	</div>
</div>

